<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="https://unpkg.com/vue"></script>
	</head>

	<body>
		<div id="app">
			<div v-if='ok'>Yes</div>
			<div v-else>No</div>

			<h4>
			此时我们可以把一个 template 元素当做包装元素，并在上面使用 v-if。最终的渲染结果不会包含 template 元素。
			</h4>

			<template v-if="no">
				<h1>Title</h1>
				<p>Paragraph 1</p>
				<p>Paragraph 2</p>
			</template>

			<h4>
			用v-else 指令来表示v-if的‘else’块
			v-else 元素必须紧跟在 v-if 或者 v-else-if 元素的后面——否则它将不会被识别。
		</h4>

			<div v-if='mathRandom()>0.5'>
				Now you see me
			</div>
			<div v-else>
				Now you don't
			</div>

			<h4>v-else-if，顾名思义，充当 v-if 的“else-if 块”。可以链式地使用多次：</h4>

			<div v-if="type === 'A'">
				A
			</div>
			<div v-else-if="type === 'B'">
				B
			</div>
			<div v-else-if="type === 'C'">
				C
			</div>
			<div v-else>
				Not A/B/C
			</div>
		</div>
		<script>
			new Vue({
				template:'<div></div>'
			})
			var app = new Vue({
				el: '#app',
				data: {
					no:false,
					type:'A'
				},
				methods: {
					
				}
			})
		</script>
	</body>

</html>